.DS_Store
.proxy_credential
*.gem
*.rbc
*.rdb
.environment
.rhosync_token
.bundle
.config
resquelog.txt
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log


.proxy_credential
load_test/*.session
test.html
test.calltree
profile.html
log_dumps/*
spec/..session