#Sources 
:sources: 
  Contact: 
    :poll_interval: 300
  Opportunity: 
    :poll_interval: 300
  Task: 
    :poll_interval: 300
  Note: 
    :poll_interval: 300
 
:test: 
  :syncserver: http://localhost:9292/application/
  :redis: localhost:6379
  :licensefile: settings/license.key
:production: 
  :syncserver: http://localhost:9292/application/
  :redis: localhost:6379
  :licensefile: settings/license.key
:development: 
  :syncserver: http://rhohub-insphere-c58af007.rhosync.com/application
  :redis: localhost:6379
  :licensefile: settings/license.key
