#Sources 
:sources: 
  AppInfo:
    :poll_interval: 1
  Contact: 
    :poll_interval: 86400
  Opportunity: 
    :poll_interval: 1
  ClientException: 
    :poll_interval: 300
  Activity: 
    :poll_interval: 1
  Note: 
    :poll_interval: 1
  Policy:
    :poll_interval: 43200
  Dependent: 
    :poll_interval: 1
  StaticEntity: 
    :poll_interval: 3600
  ApplicationDetail:
    :poll_interval: 1
  SearchContacts:
    :poll_interval: 0
  CryptKey: 
    :poll_interval: 1
    
# !!! env defines the global context for the server !!!
:env: test

# use one of the following keys for the :crm_proxy: value in the environment sections below to determine which crm deployment Rhosync will use, i.e., ':crm_proxy: model_crm_proxy'
model_crm_proxy: https://mobileproxy.model.insphereis.net/
dev_crm_proxy: https://devmobileproxy.insphereis.net/
dev_integrated_crm_proxy: http://nrhwwwd403.insp.dom:2195/crm/ActivityCenter/MobileProxy/
prod_crm_proxy: https://mobileproxy.insphereis.net/
local_crm_proxy: http://192.168.51.128/ # Change this if you're running locally and use below

# global settings are given to all environments as defaults, and can be overridden in specific environment sections below (:test, :model, etc.) 
# !!! However, DO NOT use any of the following Rhosync values in global: redis, licensefile, authtoken, iphone*, rhoadmin_password, syncserver.
# Those values are used internally by Rhosync and have to be duplicated in each section.   
:global:
  :crypt_key: "61AA71C0AB689FAEE09CD9310CB59A809D688652C78AA1CAB65B961D2FFAF7D1"
  :ssl: true
  :bundler: false
  # the resque daemons have to be forked off of the main process in Rhohub, but not onsite (see boot.rb)
  :fork_resque: true
  :crm_proxy: dev_crm_proxy
  :redis_timeout: 60
  :redis_boot: false
  :log:
    :path: ./log/insite_mobile.log
    :max_file_size: 1024000
    :num_archived_logs: 10
    :mode: stdout # logging defaults to stdout only; set mode to 'file' to turn on file logging to log:path (above)
  :app_info:
    :min_required_version: 2.0.3 # This MUST be 3 groups of numbers, in the form x.x.x, or there is a risk of tossing an exception when checking for an upgrade
    :latest_version: 2.0.6 # This MUST be 3 groups of numbers, in the form x.x.x, or there is a risk of tossing an exception when checking for an upgrade
    :apple_force_upgrade_url: 'itms-services://?action=download-manifest&amp;url=http://m.model.insphereis.net/InSiteMobile/Documents/InSite_Mobile.plist'
    :apple_soft_upgrade_url: 'itms-services://?action=download-manifest&amp;url=http://m.model.insphereis.net/InSiteMobile/Documents/InSite_Mobile.plist'
    :android_force_upgrade_url: 'https://m.model.insphereis.net/insitemobile'
    :android_soft_upgrade_url: 'https://m.model.insphereis.net/insitemobile'
    :mobile_crypt_key: "HFAGIEH777837776KFKHHSJJJFHEUUGF"
  :resque_worker_rhosync_api_host: 'http://127.0.0.1/'
  :resque_worker_rhosync_api_password: ''
  :resque_data_validation_email_group: test@test.com # change this to your own debug value; it will be overwritten automatically in Prod
# The following sections inherit from the global section and will override any values duplicated from global (:ssl:, etc.)
# The :env: value above determines which of these sections is used by the Rhosync environment.
:test: 
  :crm_proxy: dev_crm_proxy
  :redis: localhost:6379
  :licensefile: settings/license.key
  :syncserver: http://localhost:9292/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: ''
  :ssl: false
  # :bundler: true
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: 'file'
:production: 
  :crm_proxy: prod_crm_proxy
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: localhost:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhohub-insphere-b3789b06.heroku.com/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: aW9wVhyU84Sj
:model: 
  :crm_proxy: model_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: localhost:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhohub-insphere-c3d43885.heroku.com/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: U5PgMPngu27j
  :log:
    :mode: 'file'
:development: 
  :crm_proxy: dev_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: localhost:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhohub-insphere-a06075d6.heroku.com/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: iGyz5rk6JVYA
  :log:
    :mode: 'file'
:onsite: 
  :bundler: true
  :redis_boot: true
  :crm_proxy: prod_crm_proxy
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: nrhrho103:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhosync.insphereis.net/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: aW9wVhyU84Sj
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: 'file'
  :resque_worker_rhosync_api_password: aW9wVhyU84Sj
  :resque_data_validation_email_group: InsphereMobileSupport@inspherehq.com
:onsite_model: 
  :bundler: true
  :redis_boot: true
  :crm_proxy: model_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: nrhrho203:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhosync.model.insphereis.net/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: U5PgMPngu27j
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: 'file'
  :resque_worker_rhosync_api_password: U5PgMPngu27j
