#Sources 
:sources: 
  AppInfo:
    :poll_interval: 1
  Contact: 
    :poll_interval: 86400
    :retry_limit: 300
  Opportunity: 
    :poll_interval: 1
  ClientException: 
    :poll_interval: 300
  Activity: 
    :poll_interval: 1
  Note: 
    :poll_interval: 1
  Policy:
    :poll_interval: 43200
    :retry_limit: 300
  Dependent: 
    :poll_interval: 1
  StaticEntity: 
    :poll_interval: 3600
    :retry_limit: 300
  ApplicationDetail:
    :poll_interval: 1
  SearchContacts:
    :poll_interval: 0
  CryptKey: 
    :poll_interval: 1
  DeviceInfo:
    :poll_interval: 0


:test:
  :debug: 'yes'
  :crm_proxy: dev_crm_proxy
  :redis: localhost:6379
  :licensefile: settings/license.key
  :syncserver: http://localhost:9292
  :authtoken: DQAAAOcBAADl9A9fwcQRgR2U89II3lFA2AXRykLmnaFlAtInOR1Q_rD3md6WjC7MHAPOnaYrMjIOqR8zMbJf2whRqrfzM1vwXe4ylr0Vzv2ukajBJ1zeDUoMjKrN6zvM63rBD6JqiWTB42xRNqsHs9ivn1DC--NmRgeKb1iKbUubBeZTPx3z1QIfCaAix7wWKK1yXVqY_FexN4ZrbjgCPLJ9fQrgqZsZHfNvuuOdcrZ5wAHHl4Gz0VqkPE-bK2dr8fvw1qQAkocsct3LlwaGMMLq7F0EWrHvcM1zZqElkdrtSYSw5fJ-AFATpRzqJNqxAbHtuchyHn8oSHkwPv6OGoElQBeWVamhBcc7e1033fQ_XwWurCAN-J0oI2oxeVR7RZTMQASYQzvUYglt9Syl_GcBk6tzQR_mYkzNY4b7V7MMOKIAWYVSnWKfXgx6fp3xYZjQde85mm8l_YYdPDEc-VN9GsXCTu1T6MJMa3ODXzWO6UW53TAmUsntZHOtgfDKiMwEiM7ayaZxEDP3Vld5I4uLtcF50ujbNwzXSDGXNr4_WZKWGmm8pddmBXdjgVlmy3uHqr_DotMKsZI8U2SsVeoMOmp2980lj5_gvy5en8A5XKBfCeiIf3h_YCfNQ90N1vuJ6Zup4UBDYfkys_tBAJZbyk7lFk2s
  :rhoadmin_password: ''
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :redis_timeout: 37
  :log:
    :mode: stdout
:development:
  :debug: 'yes'
  :crm_proxy: dev_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: localhost:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: http://localhost:9292
  :authtoken: ! ' DQAAAOkBAACJxJJdpcp9E3EbdPfckLTCw6o0IgXF-nI-NL1ofcVCH9D4H4vBQpUSrKoL8rCrqiqPsvm2K_FaZADhgW1w9GBMp4pQNyeuCzpfKYmIO_ma37kamSqGWtbF0g8bB5I9H-b6hmFEFkGrkB6x6SllMrAPQN-BUacj42mawhVcqCChpeIgznDfO7y2eGqAvtShFDlNmUJF5Ie-ZkN6bC9TPmuj6WKyM5IXdB_F5Wdcbo18qjiMTv8pzH8WzU_Z5OhhT1V8wmROMKmvNE1-3keRpM_1Supjw9xWGSb8s3_T7StS6hAmPFKnpiaretYObkiRTivzabR4T-yAV_ak0zdqk_46vlTn3FWdrfoO4_ztYFsCJd6dP-x-wTABUFo0TsH3HFhQTVYurFFdTxowkMN0oWLH9Eq3SvcuHX95thSsPEgLxRlRhhzKwPZdVpMWawMVLeU17xtzRzOsqW3d02t0Fy7zb7Dy8dFWmOWCWrLe4njwmBzGD9Gn4TWwvHiHwQoI8j6qsCbvd7u0IGqyzd1fQa3euelTjFerCjNM1XWmEyztViMvE6uJoxDSrLWgq-SoHiqi2aMtZ1q61CcFF7uVKZqZg0tmWe1USwCH_V9Hc5iDCnxxIXhlCwFIn9fO2a8EvcX1RZgcOvBqwHHyQc1AlRx5'
  :rhoadmin_password: iGyz5rk6JVYA
  :log:
    :mode: file	
:production: 

:env: test
#Set debug to 'yes' when running locally to turn off async

model_crm_proxy: https://mobileproxy.model.insphereis.net/
dev_crm_proxy: https://mobileproxy.dev.insphereis.net/
#dev_crm_proxy: https://mobileproxy.model.insphereis.net/
dev_integrated_crm_proxy: http://nrhwwwd403.insp.dom:2195/crm/ActivityCenter/MobileProxy/
prod_crm_proxy: https://mobileproxy.insphereis.net/
local_crm_proxy: http://192.168.51.128/
:global:
  :crypt_key: 61AA71C0AB689FAEE09CD9310CB59A809D688652C78AA1CAB65B961D2FFAF7D1
  :ssl: true
  :bundler: false
  :fork_resque: true
  :crm_proxy: dev_crm_proxy
  :connection_pool_size: 4
  :connection_pool_timeout: 30
  :redis_timeout: 30
  :redis_boot: false
  :log:
    :path: ./log/insite_mobile.log
    :max_file_size: 1024000
    :num_archived_logs: 10
    :mode: stdout
  :opp_assign_roles: InSphere Corporate User,InSphere Agency Manager,InSphere Sales
    Manager,InSphere Zone Manager,System Administrator
  :app_info:
    :min_required_version: 5.4.85
    :latest_version: 5.4.85
    :apple_force_upgrade_url: itms-services://?action=download-manifest&amp;url=https%3A%2F%2Fm.model.insphereis.net%2FHMMobile%2FDocuments%2FHM_Mobile.plist
    :apple_soft_upgrade_url: itms-services://?action=download-manifest&amp;url=https%3A%2F%2Fm.model.insphereis.net%2FHMMobile%2FDocuments%2FHM_Mobile.plist
    :android_force_upgrade_url: https://m.model.insphereis.net/HMMobile
    :android_soft_upgrade_url: https://m.model.insphereis.net/HMMobile
    :mobile_crypt_key: HFAGIEH777837776KFKHHSJJJFHEUUGF
    :model_limits: ! '{"Activity":"3000","Opportunity":"500","Contact":"3500","Policy":"7500","Note":"1750"}'
    :quick_quote_users: all
  :resque_worker_rhoconnect_api_host: http://127.0.0.1/
  :resque_worker_rhoconnect_api_password: ''
  :resque_data_validation_email_group: test@test.com
  :conflict_management_threshold: 900
:onsite:
  :debug: 'no'
  :redis_boot: true
  :crm_proxy: prod_crm_proxy
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: nrhrhop106:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.push.apple.com
  :iphoneport: 2195
  :syncserver: http://nrhrhop104.uicnrh.dom/application/
  #:This prod 5.4 app appears to be built with the model auth key
  #:gcm_api_key: AIzaSyBGr2yZ4RkajvEnsWfKhE0AC4JE2y23n_4
  :gcm_api_key: AIzaSyBC_DcOes_EY_KnTFMABjhw9oH5c3x9i0k
  :rhoadmin_password: aW9wVhyU84Sj
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: file
    :level: 1
  :resque_worker_rhoconnect_api_password: aW9wVhyU84Sj
  :resque_data_validation_email_group: InsphereMobileSupport@inspherehq.com
  :app_info:
    :apple_force_upgrade_url: itms-services://?action=download-manifest&amp;url=https%3A%2F%2Fm.insphereis.net%2FHMMobile%2FDocuments%2FHM_Mobile.plist
    :apple_soft_upgrade_url: itms-services://?action=download-manifest&amp;url=https%3A%2F%2Fm.insphereis.net%2FHMMobile%2FDocuments%2FHM_Mobile.plist
    :android_force_upgrade_url: https://m.insphereis.net/HMMobile
    :android_soft_upgrade_url: https://m.insphereis.net/HMMobile
    :quick_quote_users: all
    :resource_center_url: https://sts.insphereis.net/adfs/ls/?wa=wsignin1.0&wtrealm=urn%3asharepoint%3aarc&wctx=https%3a%2f%2frc.healthmarkets.com%2f_layouts%2f15%2fAuthenticate.aspx%3fSource%3d%252F
    :insite_url: https://hmix.healthmarkets.com/Proposal/SSO/CreateFromOpportunity
    :medicare_soa_url: https://sts.insphereis.net/adfs/ls/?wa=wsignin1.0&wtrealm=https%3a%2f%2fprod-insphere-marketplace.accesscontrol.windows.net%2f&wreply=https%3a%2f%2fprod-insphere-marketplace.accesscontrol.windows.net%2fv2%2fwsfederation&wctx=cHI9d3NmZWRlcmF0aW9uJnJtPWh0dHBzJTNhJTJmJTJmZXh0YXBwLmhlYWx0aG1hcmtldHMuY29tJTJmc29hJTJmJnJ5PSZjeD1ybSUzZDAlMjZpZCUzZHBhc3NpdmUlMjZydSUzZCUyNTJmc29hJTI1MmZkZWZhdWx0LmFzcHg1
    :leadamp_url:  https://rc.healthmarkets.com/_layouts/15/SsoPages/LeadAmpSso.aspx
:onsite_model:
  :debug: 'no'
  :redis_boot: true
  :crm_proxy: model_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: nrhrhom206:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: http://nrhrhom204/application/
  :gcm_api_key: AIzaSyBC_DcOes_EY_KnTFMABjhw9oH5c3x9i0k
  :rhoadmin_password: U5PgMPngu27j
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: file
    :level: 1
  :resque_worker_rhoconnect_api_password: U5PgMPngu27j
  :app_info:
    :resource_center_url: https://sts.model.insphereis.net/adfs/ls/?wa=wsignin1.0&wtrealm=urn%3asharepoint%3aarc&wctx=https%3a%2f%2frc.model.healthmarkets.com%2f_layouts%2f15%2fAuthenticate.aspx%3fSource%3d%252F
    :insite_url: https://hmix.model.healthmarkets.com/Proposal/SSO/CreateFromOpportunity
    :medicare_soa_url: https://sts.model.insphereis.net/adfs/ls/?wa=wsignin1.0&wtrealm=https%3a%2f%2fmodel-insphere-marketplace.accesscontrol.windows.net%2f&wreply=https%3a%2f%2fmodel-insphere-marketplace.accesscontrol.windows.net%2fv2%2fwsfederation&wctx=cHI9d3NmZWRlcmF0aW9uJnJtPWh0dHBzJTNhJTJmJTJmZXh0YXBwLm1vZGVsLmhlYWx0aG1hcmtldHMuY29tJTJmc29hJTJmJnJ5PSZjeD1ybSUzZDAlMjZpZCUzZHBhc3NpdmUlMjZydSUzZCUyNTJmc29hJTI1MmZkZWZhdWx0LmFzcHg1
    :leadamp_url: https://rc.model.healthmarkets.com/_layouts/15/SsoPages/LeadAmpSso.aspx
:onsite_dev:
  :debug: 'no'
  :redis_boot: true
  :crm_proxy: dev_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: nrhrhod406:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: http://nrhrhod404/application/
  :gcm_api_key: AIzaSyBC_DcOes_EY_KnTFMABjhw9oH5c3x9i0k
  :rhoadmin_password: iGyz5rk6JVYA
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: file
    :level: 0
  :resque_worker_rhoconnect_api_password: iGyz5rk6JVYA
  :app_info:
    :apple_force_upgrade_url: itms-services://?action=download-manifest&amp;url=https%3A%2F%2Fm.dev.insphereis.net%2FHMMobile%2FDocuments%2FHM_Mobile.plist
    :apple_soft_upgrade_url: itms-services://?action=download-manifest&amp;url=https%3A%2F%2Fm.dev.insphereis.net%2FHMMobile%2FDocuments%2FHM_Mobile.plist
    :android_force_upgrade_url: https://m.dev.insphereis.net/HMMobile
    :android_soft_upgrade_url: https://m.dev.insphereis.net/HMMobile
    :resource_center_url: https://sts.model.insphereis.net/adfs/ls/?wa=wsignin1.0&wtrealm=urn%3asharepoint%3aarc&wctx=https%3a%2f%2frc.model.healthmarkets.com%2f_layouts%2f15%2fAuthenticate.aspx%3fSource%3d%252F
    :insite_url: https://hmix.dev.healthmarkets.com/Proposal/SSO/CreateFromOpportunity
    :medicare_soa_url: https://sts.model.insphereis.net/adfs/ls/?wa=wsignin1.0&wtrealm=https%3a%2f%2fmodel-insphere-marketplace.accesscontrol.windows.net%2f&wreply=https%3a%2f%2fmodel-insphere-marketplace.accesscontrol.windows.net%2fv2%2fwsfederation&wctx=cHI9d3NmZWRlcmF0aW9uJnJtPWh0dHBzJTNhJTJmJTJmZXh0YXBwLm1vZGVsLmhlYWx0aG1hcmtldHMuY29tJTJmc29hJTJmJnJ5PSZjeD1ybSUzZDAlMjZpZCUzZHBhc3NpdmUlMjZydSUzZCUyNTJmc29hJTI1MmZkZWZhdWx0LmFzcHg1
    :leadamp_url: https://rc.model.healthmarkets.com/_layouts/15/SsoPages/LeadAmpSso.aspx
    
