#Sources 
:sources: 
  AppInfo:
    :poll_interval: 1
  Contact: 
    :poll_interval: 86400
    :retry_limit: 3
  Opportunity: 
    :poll_interval: 1
  ClientException: 
    :poll_interval: 300
  Activity: 
    :poll_interval: 1
  Note: 
    :poll_interval: 1
  Policy:
    :poll_interval: 43200
    :retry_limit: 3
  Dependent: 
    :poll_interval: 1
  StaticEntity: 
    :poll_interval: 3600
    :retry_limit: 3
  ApplicationDetail:
    :poll_interval: 1
  SearchContacts:
    :poll_interval: 0
  CryptKey: 
    :poll_interval: 1
  DeviceInfo:
    :poll_interval: 0
    
# !!! env defines the global context for the server !!!
:env: test

# use one of the following keys for the :crm_proxy: value in the environment sections below to determine which crm deployment Rhosync will use, i.e., ':crm_proxy: model_crm_proxy'
model_crm_proxy: https://mobileproxy.model.insphereis.net/
dev_crm_proxy: https://mobileproxy.dev.insphereis.net/
dev_integrated_crm_proxy: http://nrhwwwd403.insp.dom:2195/crm/ActivityCenter/MobileProxy/
prod_crm_proxy: https://mobileproxy.insphereis.net/
local_crm_proxy: http://192.168.51.128/ # Change this if you're running locally and use below

# global settings are given to all environments as defaults, and can be overridden in specific environment sections below (:test, :model, etc.) 
# !!! However, DO NOT use any of the following Rhosync values in global: redis, licensefile, authtoken, iphone*, rhoadmin_password, syncserver.
# Those values are used internally by Rhosync and have to be duplicated in each section.   
:global:
  :crypt_key: "61AA71C0AB689FAEE09CD9310CB59A809D688652C78AA1CAB65B961D2FFAF7D1"
  :ssl: true
  :bundler: false
  # the resque daemons have to be forked off of the main process in Rhohub, but not onsite (see boot.rb)
  :fork_resque: true
  :crm_proxy: dev_crm_proxy
  :redis_timeout: 60
  :redis_boot: false
  :log:
    :path: ./log/insite_mobile.log
    :max_file_size: 1024000
    :num_archived_logs: 10
    :mode: stdout # logging defaults to stdout only; set mode to 'file' to turn on file logging to log:path (above)
  :opp_assign_roles: "InSphere Corporate User,InSphere Agency Manager,InSphere Sales Manager,InSphere Zone Manager,System Administrator"
  :app_info:
    :min_required_version: 3.4.7
    :latest_version: 3.4.7
    :apple_force_upgrade_url: 'itms-services://?action=download-manifest&amp;url=http://m.model.insphereis.net/InSiteMobile/Documents/InSite_Mobile.plist'
    :apple_soft_upgrade_url: 'itms-services://?action=download-manifest&amp;url=http://m.model.insphereis.net/InSiteMobile/Documents/InSite_Mobile.plist'
    :android_force_upgrade_url: 'https://m.model.insphereis.net/insitemobile'
    :android_soft_upgrade_url: 'https://m.model.insphereis.net/insitemobile'
    :mobile_crypt_key: "HFAGIEH777837776KFKHHSJJJFHEUUGF"
    :model_limits: '{"Activity":"2500","Opportunity":"300","Contact":"1100","Policy":"2000","Note":"600"}'
  :resque_worker_rhosync_api_host: 'http://127.0.0.1/'
  :resque_worker_rhosync_api_password: ''
  :resque_data_validation_email_group: test@test.com # change this to your own debug value; it will be overwritten automatically in Prod
  :conflict_management_threshold: 900 # interval in seconds used by conflict management to account for differences between RhoSync and phone time
# The following sections inherit from the global section and will override any values duplicated from global (:ssl:, etc.)
# The :env: value above determines which of these sections is used by the Rhosync environment.
:test: 
  :crm_proxy: dev_crm_proxy
  :redis: localhost:6379
  :licensefile: settings/license.key
  :syncserver: http://localhost:9292/application/
  :c2dm_username: insphereapplication@insphereis.com
  :c2dm_passwd: 2U659954
  :authtoken: 'DQAAAOcBAADl9A9fwcQRgR2U89II3lFA2AXRykLmnaFlAtInOR1Q_rD3md6WjC7MHAPOnaYrMjIOqR8zMbJf2whRqrfzM1vwXe4ylr0Vzv2ukajBJ1zeDUoMjKrN6zvM63rBD6JqiWTB42xRNqsHs9ivn1DC--NmRgeKb1iKbUubBeZTPx3z1QIfCaAix7wWKK1yXVqY_FexN4ZrbjgCPLJ9fQrgqZsZHfNvuuOdcrZ5wAHHl4Gz0VqkPE-bK2dr8fvw1qQAkocsct3LlwaGMMLq7F0EWrHvcM1zZqElkdrtSYSw5fJ-AFATpRzqJNqxAbHtuchyHn8oSHkwPv6OGoElQBeWVamhBcc7e1033fQ_XwWurCAN-J0oI2oxeVR7RZTMQASYQzvUYglt9Syl_GcBk6tzQR_mYkzNY4b7V7MMOKIAWYVSnWKfXgx6fp3xYZjQde85mm8l_YYdPDEc-VN9GsXCTu1T6MJMa3ODXzWO6UW53TAmUsntZHOtgfDKiMwEiM7ayaZxEDP3Vld5I4uLtcF50ujbNwzXSDGXNr4_WZKWGmm8pddmBXdjgVlmy3uHqr_DotMKsZI8U2SsVeoMOmp2980lj5_gvy5en8A5XKBfCeiIf3h_YCfNQ90N1vuJ6Zup4UBDYfkys_tBAJZbyk7lFk2s'
  :rhoadmin_password: ''
  :ssl: false
  # :bundler: true
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: 'stdout'
:development: 
  :crm_proxy: dev_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: nrhrhod403:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhohub-insphere-a06075d6.heroku.com/application/
  :authtoken: ' DQAAAOkBAACJxJJdpcp9E3EbdPfckLTCw6o0IgXF-nI-NL1ofcVCH9D4H4vBQpUSrKoL8rCrqiqPsvm2K_FaZADhgW1w9GBMp4pQNyeuCzpfKYmIO_ma37kamSqGWtbF0g8bB5I9H-b6hmFEFkGrkB6x6SllMrAPQN-BUacj42mawhVcqCChpeIgznDfO7y2eGqAvtShFDlNmUJF5Ie-ZkN6bC9TPmuj6WKyM5IXdB_F5Wdcbo18qjiMTv8pzH8WzU_Z5OhhT1V8wmROMKmvNE1-3keRpM_1Supjw9xWGSb8s3_T7StS6hAmPFKnpiaretYObkiRTivzabR4T-yAV_ak0zdqk_46vlTn3FWdrfoO4_ztYFsCJd6dP-x-wTABUFo0TsH3HFhQTVYurFFdTxowkMN0oWLH9Eq3SvcuHX95thSsPEgLxRlRhhzKwPZdVpMWawMVLeU17xtzRzOsqW3d02t0Fy7zb7Dy8dFWmOWCWrLe4njwmBzGD9Gn4TWwvHiHwQoI8j6qsCbvd7u0IGqyzd1fQa3euelTjFerCjNM1XWmEyztViMvE6uJoxDSrLWgq-SoHiqi2aMtZ1q61CcFF7uVKZqZg0tmWe1USwCH_V9Hc5iDCnxxIXhlCwFIn9fO2a8EvcX1RZgcOvBqwHHyQc1AlRx5'
  :rhoadmin_password: iGyz5rk6JVYA
  :log:
    :mode: 'file'
:onsite: 
  :bundler: true
  :redis_boot: true
  :crm_proxy: prod_crm_proxy
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: nrhrho103:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhosync.insphereis.net/application/
  :authtoken: 'DQAAAOcBAADl9A9fwcQRgR2U89II3lFA2AXRykLmnaFlAtInOR1Q_rD3md6WjC7MHAPOnaYrMjIOqR8zMbJf2whRqrfzM1vwXe4ylr0Vzv2ukajBJ1zeDUoMjKrN6zvM63rBD6JqiWTB42xRNqsHs9ivn1DC--NmRgeKb1iKbUubBeZTPx3z1QIfCaAix7wWKK1yXVqY_FexN4ZrbjgCPLJ9fQrgqZsZHfNvuuOdcrZ5wAHHl4Gz0VqkPE-bK2dr8fvw1qQAkocsct3LlwaGMMLq7F0EWrHvcM1zZqElkdrtSYSw5fJ-AFATpRzqJNqxAbHtuchyHn8oSHkwPv6OGoElQBeWVamhBcc7e1033fQ_XwWurCAN-J0oI2oxeVR7RZTMQASYQzvUYglt9Syl_GcBk6tzQR_mYkzNY4b7V7MMOKIAWYVSnWKfXgx6fp3xYZjQde85mm8l_YYdPDEc-VN9GsXCTu1T6MJMa3ODXzWO6UW53TAmUsntZHOtgfDKiMwEiM7ayaZxEDP3Vld5I4uLtcF50ujbNwzXSDGXNr4_WZKWGmm8pddmBXdjgVlmy3uHqr_DotMKsZI8U2SsVeoMOmp2980lj5_gvy5en8A5XKBfCeiIf3h_YCfNQ90N1vuJ6Zup4UBDYfkys_tBAJZbyk7lFk2s'
  :rhoadmin_password: aW9wVhyU84Sj
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: 'file'
  :resque_worker_rhosync_api_password: aW9wVhyU84Sj
  :resque_data_validation_email_group: InsphereMobileSupport@inspherehq.com
  :app_info:
    :apple_force_upgrade_url: 'itms-services://?action=download-manifest&amp;url=http://m.insphereis.net/InSiteMobile/Documents/InSite_Mobile.plist'
    :apple_soft_upgrade_url: 'itms-services://?action=download-manifest&amp;url=http://m.insphereis.net/InSiteMobile/Documents/InSite_Mobile.plist'
    :android_force_upgrade_url: 'https://m.insphereis.net/InSiteMobile'
    :android_soft_upgrade_url: 'https://m.insphereis.net/InSiteMobile'
:onsite_model: 
  :bundler: true
  :redis_boot: true
  :crm_proxy: model_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: nrhrho203:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhosync.model.insphereis.net/application/
  :authtoken: ' DQAAAOkBAACJxJJdpcp9E3EbdPfckLTCw6o0IgXF-nI-NL1ofcVCH9D4H4vBQpUSrKoL8rCrqiqPsvm2K_FaZADhgW1w9GBMp4pQNyeuCzpfKYmIO_ma37kamSqGWtbF0g8bB5I9H-b6hmFEFkGrkB6x6SllMrAPQN-BUacj42mawhVcqCChpeIgznDfO7y2eGqAvtShFDlNmUJF5Ie-ZkN6bC9TPmuj6WKyM5IXdB_F5Wdcbo18qjiMTv8pzH8WzU_Z5OhhT1V8wmROMKmvNE1-3keRpM_1Supjw9xWGSb8s3_T7StS6hAmPFKnpiaretYObkiRTivzabR4T-yAV_ak0zdqk_46vlTn3FWdrfoO4_ztYFsCJd6dP-x-wTABUFo0TsH3HFhQTVYurFFdTxowkMN0oWLH9Eq3SvcuHX95thSsPEgLxRlRhhzKwPZdVpMWawMVLeU17xtzRzOsqW3d02t0Fy7zb7Dy8dFWmOWCWrLe4njwmBzGD9Gn4TWwvHiHwQoI8j6qsCbvd7u0IGqyzd1fQa3euelTjFerCjNM1XWmEyztViMvE6uJoxDSrLWgq-SoHiqi2aMtZ1q61CcFF7uVKZqZg0tmWe1USwCH_V9Hc5iDCnxxIXhlCwFIn9fO2a8EvcX1RZgcOvBqwHHyQc1AlRx5'
  :rhoadmin_password: U5PgMPngu27j
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: 'file'
  :resque_worker_rhosync_api_password: U5PgMPngu27j
:onsite_dev: 
  :redis_boot: true
  :crm_proxy: dev_crm_proxy
  :iphonecertfile: settings/apple_push_cert_sandbox.pem
  :redis: nrhrhod403:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhosync.dev.insphereis.net/application/
  :authtoken: ' DQAAAOkBAACJxJJdpcp9E3EbdPfckLTCw6o0IgXF-nI-NL1ofcVCH9D4H4vBQpUSrKoL8rCrqiqPsvm2K_FaZADhgW1w9GBMp4pQNyeuCzpfKYmIO_ma37kamSqGWtbF0g8bB5I9H-b6hmFEFkGrkB6x6SllMrAPQN-BUacj42mawhVcqCChpeIgznDfO7y2eGqAvtShFDlNmUJF5Ie-ZkN6bC9TPmuj6WKyM5IXdB_F5Wdcbo18qjiMTv8pzH8WzU_Z5OhhT1V8wmROMKmvNE1-3keRpM_1Supjw9xWGSb8s3_T7StS6hAmPFKnpiaretYObkiRTivzabR4T-yAV_ak0zdqk_46vlTn3FWdrfoO4_ztYFsCJd6dP-x-wTABUFo0TsH3HFhQTVYurFFdTxowkMN0oWLH9Eq3SvcuHX95thSsPEgLxRlRhhzKwPZdVpMWawMVLeU17xtzRzOsqW3d02t0Fy7zb7Dy8dFWmOWCWrLe4njwmBzGD9Gn4TWwvHiHwQoI8j6qsCbvd7u0IGqyzd1fQa3euelTjFerCjNM1XWmEyztViMvE6uJoxDSrLWgq-SoHiqi2aMtZ1q61CcFF7uVKZqZg0tmWe1USwCH_V9Hc5iDCnxxIXhlCwFIn9fO2a8EvcX1RZgcOvBqwHHyQc1AlRx5'
  :rhoadmin_password: iGyz5rk6JVYA
  :ssl: false
  :fork_resque: false
  :raise_on_expired_lock: true
  :lock_duration: 60
  :log:
    :mode: 'file'
  :resque_worker_rhosync_api_host: 'http://nrhrhod401/'
  :resque_worker_rhosync_api_password: iGyz5rk6JVYA
