#Sources 
:sources: 
  AppInfo:
    :poll_interval: 1
  Contact: 
    :poll_interval: 1
  Opportunity: 
    :poll_interval: 1
  ClientException: 
    :poll_interval: 300
  Activity: 
    :poll_interval: 1
  Note: 
    :poll_interval: 1
    
:app_info:
    :min_required_version: 1.0.12 # This MUST be 3 groups of numbers, in the form x.x.x, or there is a risk of tossing an exception when checking for an upgrade
    :apple_force_upgrade_url: http://www.apple.com/
    :android_force_upgrade_url: http://www.google.com/
    
# !! env defines the global context for the server
:env: development

model_crm: https://mobileproxy.model.insphereis.net/
dev_crm: http://75.31.122.27/
prod_crm: https://mobileproxy.insphereis.net/
    
:global:
  :crypt_key: "61AA71C0AB689FAEE09CD9310CB59A809D688652C78AA1CAB65B961D2FFAF7D1"
  :ssl: true
  :fork_resque: true
  :log:
    :path: /var/log/insite_mobile/insite_mobile.log
    :max_file_size: 1024000
    :num_old_logs: 10
    :mode: stdout
        
:test: 
  :crm: model_crm
  :redis: localhost:6379
  :licensefile: settings/license.key
  :syncserver: http://localhost:9292/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: ''
  :ssl: false
  :fork_resque: false
:production: 
  :crm: prod_crm
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: localhost:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhohub-insphere-b3789b06.heroku.com/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: aW9wVhyU84Sj
:model: 
  :crm: model_crm
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: localhost:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhohub-insphere-c3d43885.heroku.com/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: U5PgMPngu27j
:development: 
  :crm: dev_crm
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: localhost:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: https://rhohub-insphere-a06075d6.heroku.com/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: iGyz5rk6JVYA
:onsite: 
  :crm: model_crm
  :iphonecertfile: settings/apple_push_cert.pem
  :redis: nrhrho103:6379
  :iphonepassphrase: Pariveda1
  :licensefile: settings/license.key
  :iphoneserver: gateway.sandbox.push.apple.com
  :iphoneport: 2195
  :syncserver: http://10.143.28.181/application/
  :authtoken: 'DQAAAN4AAABMr5gOJS_7EvXDtx6gyJAk2xHHmkV_RybjlOgPQWOKv5Bjr6ylRnTHt8ogtQcOCAm_j-LjqFQ3f0OHLExbmeRCxOKcRqBY2drlhkMPJL3CW679Dadnwg5VNnufZUEFdHl4SUIwd7dGJK-AtjnDSRC_pPYlP7N0Ldjn2vessXN9Yk4v-k9CGNtKcuFRG2LGeLwRfHco8d5aHpMI4kKbDrOPjRHSKn6jEalsmLmv9Gq6tRxVRkxoN8EiUv6bg638U2nOOHHgr_wF0hcmg9WuYmtlPE41Hm2GlPhrV-nh9Mhu6w'
  :rhoadmin_password: ''
  :ssl: false
  :fork_resque: false
  :log:
     :mode: 'file'
