#Sources 
:sources: 
  Contact: 
    :poll_interval: 1
  Opportunity: 
    :poll_interval: 1
  AppInfo: 
    :poll_interval: 1
  Activity: 
    :poll_interval: 1
  ClientException: 
    :poll_interval: 300
  Note: 
    :poll_interval: 1
 
:app_info:
  :min_required_version: 1.0
  :force_upgrade_url: http://www.apple.com/
  
:test: 
  :authtoken: DQAAALEAAACGrfH6ZfOMVxZXyYlonWDB-eJvjfya3zcT_6p71LomPfxI10401l7o5Sd5Z30abSeSNAMNAWJpCcRUBEL99vpxTGny1YxAvUop5tLUdWJyhtnlCxkq0qksleXmYv8LXkymjJr7t8oIC2Cm78UfySxqIytNvJt5DFM-nEU-uHeJLje1oIxKw14EAJoQOPql9boX2x8SZaAq4P9DDeYRzEaSJbkipVYz8TXW92qmBbNwhsqc8CWzgstqB9ztYP5_N3k
  :redis: localhost:6379
  :licensefile: settings/license.key
  :syncserver: http://localhost:9292/application/
:production: 
  :iphoneport: 2195
  :authtoken: DQAAALEAAACGrfH6ZfOMVxZXyYlonWDB-eJvjfya3zcT_6p71LomPfxI10401l7o5Sd5Z30abSeSNAMNAWJpCcRUBEL99vpxTGny1YxAvUop5tLUdWJyhtnlCxkq0qksleXmYv8LXkymjJr7t8oIC2Cm78UfySxqIytNvJt5DFM-nEU-uHeJLje1oIxKw14EAJoQOPql9boX2x8SZaAq4P9DDeYRzEaSJbkipVYz8TXW92qmBbNwhsqc8CWzgstqB9ztYP5_N3k
  :redis: localhost:6379
  :iphonecertfile: settings/apple_push_cert.pem
  :licensefile: settings/license.key
  :iphonepassphrase: Pariveda1
  :syncserver: http://rhohub-insphere-b3789b06.rhosync.com/application/
  :iphoneserver: gateway.sandbox.push.apple.com
:development: 
  :iphoneport: 2195
  :authtoken: DQAAALEAAACGrfH6ZfOMVxZXyYlonWDB-eJvjfya3zcT_6p71LomPfxI10401l7o5Sd5Z30abSeSNAMNAWJpCcRUBEL99vpxTGny1YxAvUop5tLUdWJyhtnlCxkq0qksleXmYv8LXkymjJr7t8oIC2Cm78UfySxqIytNvJt5DFM-nEU-uHeJLje1oIxKw14EAJoQOPql9boX2x8SZaAq4P9DDeYRzEaSJbkipVYz8TXW92qmBbNwhsqc8CWzgstqB9ztYP5_N3k
  :redis: localhost:6379
  :iphonecertfile: settings/apple_push_cert.pem
  :licensefile: settings/license.key
  :iphonepassphrase: Pariveda1
  :syncserver: http://rhohub-insphere-a06075d6.rhosync.com/application/
  :iphoneserver: gateway.sandbox.push.apple.com
